body {
    box-sizing: border-box;
    color: black;
    font-family: 'Secular One', sans-serif;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 5px;
    /* margin: 40px 75px;*/
    text-align: right;
    line-height: normal;
    margin: 40px 80px;



}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: right;
}

.name {
    color: gray;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0px 12px;


}

.name:hover {
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0px 12px;


}

.work {
    color: black;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    margin: 0px 20px;
}



.about {
    color: gray;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    margin: 0px 20px;
}

.work:hover {
    color: black;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    margin: 0px 20px;

}



.about:hover {
    color: black;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    margin: 0px 20px;
}


/* grid part */
.wrap {
    text-align: center;
    margin: 80px;

}

.col {
    position: relative;
    width: 90%;
}



.img-fluid {
    opacity: 1;
    display: block;
    width: 700px;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
    align-items: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col-sm-6:hover .img-fluid {
    opacity: 0.3;
    filter: grayscale(80%)
}

.col-sm-6:hover .middle {
    opacity: 1;
}

.project {
    background-color: black;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 38px;
    font-family: 'Secular One', sans-serif;



}

.subtitle {
    color: black;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 10px 38px;
    font-family: 'Secular One', sans-serif;
}

#madebyme {
    pointer-events: none;
    cursor: default;
}



/*responsive*/


@media only screen and (max-width:450px) {

    /*header*/

    .header {

        font-size: 16px;

        justify-content: space-between;

        margin: 20px 20px;



    }


    .name {
        margin: 0px 3px;
        letter-spacing: 1px;



    }

    .work {
        letter-spacing: 2px;
        margin: 0px 8px;
    }



    .about {
        letter-spacing: 2px;
        margin: 0px 8px;
    }

    /*main*/

    .wrap {
        margin: 5px;
    }


    .project {

        font-size: 18px;
        letter-spacing: 2px;
        padding: 10px 20px;




    }

    .subtitle {
        font-size: 10px;
        letter-spacing: 2px;
        padding: 10px 20px;
    }


}